/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.ic-logo:before {
  width: 460px;
  height: 460px;
  background: url('../img/icons-se33a07f2d4.png') 0 -55px no-repeat;
}

.ic-rmenu1:before {
  width: 61px;
  height: 55px;
  background: url('../img/icons-se33a07f2d4.png') -192px 0 no-repeat;
}

.ic-rmenu2:before {
  width: 49px;
  height: 46px;
  background: url('../img/icons-se33a07f2d4.png') -55px 0 no-repeat;
}

.ic-rmenu3:before {
  width: 33px;
  height: 46px;
  background: url('../img/icons-se33a07f2d4.png') -104px 0 no-repeat;
}

.ic-rmenu4:before {
  width: 55px;
  height: 47px;
  background: url('../img/icons-se33a07f2d4.png') -137px 0 no-repeat;
}

.ic-login1:before {
  width: 25px;
  height: 30px;
  background: url('../img/icons-se33a07f2d4.png') -30px 0 no-repeat;
}

.ic-login2:before {
  width: 30px;
  height: 28px;
  background: url('../img/icons-se33a07f2d4.png') 0 0 no-repeat;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
html {
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding-right: 0 !important;
  color: #000;
}

iframe {
  width: 100%;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* ---------------------------------------- */
/* W R A P P E R    S T Y L E               */
/* ---------------------------------------- */
.wrapper {
  background: url(../img/wrapbg.jpg) no-repeat;
  background-size: 100% 100%;
}

/* ---------------------------------------- */
/* L M E N U    S T Y L E                   */
/* ---------------------------------------- */
.lmenu {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0;
  z-index: 10;
}
.lmenu__name {
  display: inline-block;
  font: 400 36px/40px "PT Sans", sans-serif;
  padding: 50px 0 0 30px;
}
.lmenu__line:after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 50%;
  border-bottom: 1px solid #000;
}
.lmenu__points {
  padding-top: 25px;
}
.lmenu__item {
  position: relative;
  list-style-type: none;
  font: 400 24px/28px "PT Sans", sans-serif;
  color: #050426;
  margin-bottom: 25px;
  cursor: pointer;
}
.lmenu__item .fa {
  position: absolute;
  right: 8px;
  top: 5px;
}
.lmenu__link {
  display: block;
  padding: 0 15px 0 30px;
}
.lmenu__dropdown {
  background-color: #eee;
}
.lmenu__dropdown li {
  padding-left: 30px;
}
.lmenu__dropdown li:hover {
  background-color: #c7c8d3;
}

.lcontact {
  padding-left: 25px;
}
.lcontact:after, .lcontact:before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 80%;
  border-bottom: 1px solid #000;
}
.lcontact__list {
  margin-bottom: 30px;
  padding: 15px 20px 0 0;
}
.lcontact__item {
  font: 400 18px/24px "PT Sans", sans-serif;
  color: #050426;
  list-style-type: none;
}

.lnews {
  padding-left: 25px;
}
.lnews__item {
  margin-bottom: 10px;
}
.lnews__item--link {
  text-decoration: underline;
}

/* ---------------------------------------- */
/* R M E N U    S T Y L E                   */
/* ---------------------------------------- */
.rmenu {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: rgba(13, 32, 60, 0.9);
}
.rmenu__link {
  display: block;
  text-align: center;
  padding: 0 31px;
  margin-bottom: 25px;
}
.rmenu__link .ic {
  height: 70px;
  width: 70px;
  line-height: 70px;
  box-shadow: 0 0 0 1px #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.rmenu__name {
  font: 400 16px/20px "PT Sans", sans-serif;
  color: #fff;
}

/* ---------------------------------------- */
/* L O G I N    S T Y L E                   */
/* ---------------------------------------- */
.login {
  float: right;
  padding-top: 15px;
}
.login__item {
  display: block;
  padding: 5px 10px;
  color: #fff;
  font: 400 16px/18px "PT Sans", sans-serif;
  border: 1px solid #fff;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.login__item .ic {
  margin-right: 15px;
}

/* ---------------------------------------- */
/* F O O T E R    S T Y L E                 */
/* ---------------------------------------- */
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #050426;
  padding: 30px;
}
.footer__box {
  float: right;
}
.footer__text {
  color: #fff;
  font: 400 17px/20px "PT Sans", sans-serif;
}
