/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
@font-face {
  font-family: "MyriadProRegular";
  src: url("../font/MyriadProRegular/MyriadProRegular.eot");
  src: url("../font/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../font/MyriadProRegular/MyriadProRegular.woff2") format("woff2"), url("../font/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../font/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyriadProBold";
  src: url("../font/MyriadProBold/MyriadProBold.eot");
  src: url("../font/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../font/MyriadProBold/MyriadProBold.woff2") format("woff2"), url("../font/MyriadProBold/MyriadProBold.woff") format("woff"), url("../font/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyriadProItalic";
  src: url("../font/MyriadProItalic/MyriadProItalic.eot");
  src: url("../font/MyriadProItalic/MyriadProItalic.eot?#iefix") format("embedded-opentype"), url("../font/MyriadProItalic/MyriadProItalic.woff2") format("woff2"), url("../font/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("../font/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.ic-rmenu1:before {
  width: 37px;
  height: 25px;
  background: url('../img/icons-sa56ed64c68.png') 0 -41px no-repeat;
}

.ic-rmenu2:before {
  width: 38px;
  height: 38px;
  background: url('../img/icons-sa56ed64c68.png') 0 -178px no-repeat;
}

.ic-rmenu3:before {
  width: 28px;
  height: 39px;
  background: url('../img/icons-sa56ed64c68.png') 0 -254px no-repeat;
}

.ic-rmenu4:before {
  width: 38px;
  height: 38px;
  background: url('../img/icons-sa56ed64c68.png') 0 -216px no-repeat;
}

.ic-login1:before {
  width: 25px;
  height: 30px;
  background: url('../img/icons-sa56ed64c68.png') 0 -148px no-repeat;
}

.ic-login2:before {
  width: 30px;
  height: 28px;
  background: url('../img/icons-sa56ed64c68.png') 0 -92px no-repeat;
}

@media only screen and (max-width: 767px) {
  .ic-rmenu1:before {
    width: 27px;
    height: 19px;
    background: url('../img/icons-sa56ed64c68.png') 0 0 no-repeat;
  }

  .ic-rmenu2:before {
    width: 22px;
    height: 22px;
    background: url('../img/icons-sa56ed64c68.png') 0 -19px no-repeat;
  }

  .ic-rmenu3:before {
    width: 19px;
    height: 28px;
    background: url('../img/icons-sa56ed64c68.png') 0 -120px no-repeat;
  }

  .ic-rmenu4:before {
    width: 26px;
    height: 26px;
    background: url('../img/icons-sa56ed64c68.png') 0 -66px no-repeat;
  }
}
html {
  overflow-x: hidden;
  height: 100%;
}

body {
  position: relative;
  left: 0;
  margin: 0;
  padding-right: 0 !important;
  background: #0b1c37 url(../img/wrapbg.jpg) no-repeat fixed;
  color: #000;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
body.in {
  left: 33.33333%;
}

iframe {
  width: 100%;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* L M E N U    S T Y L E                   */
/* ---------------------------------------- */
.lmenu {
  padding: 25px 0 102px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
.lmenu__heading {
  display: inline-block;
  padding: 0 15px 0 30px;
  font: 700 27px/31px "PT Sans", sans-serif;
  color: #455e87;
}
.lmenu__heading--line:after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 50%;
  border-bottom: 1px solid #000;
}
.lmenu__sub-heading {
  font-weight: 700;
}
.lmenu__item {
  position: relative;
  list-style-type: none;
  font: 400 20px/24px "PT Sans", sans-serif;
  color: #050426;
}
.lmenu__item .fa {
  float: right;
}
.lmenu__link {
  position: relative;
  display: block;
  padding: 10px 30px;
  cursor: pointer;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  -webkit-transition: background 0.3s ease-out;
  -ms-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}
.lmenu__link:hover {
  background-color: #c7c8d3;
}
.lmenu__link--bold {
  font-weight: 700;
}
.lmenu__link .fa {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.lmenu__dropdown {
  background: rgba(5, 4, 38, 0.1);
}
.lmenu__link.active {
  background-color: #9c9eb9;
}

.lcontact {
  padding: 0 15px 0 30px;
}
.lcontact:after, .lcontact:before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 80%;
  border-bottom: 1px solid #000;
}
.lcontact__list {
  padding: 10px 0;
}
.lcontact__item {
  font: 400 18px/24px "PT Sans", sans-serif;
  color: #050426;
  list-style-type: none;
}

.lnews {
  padding-left: 25px;
}
.lnews__item {
  margin-bottom: 10px;
}
.lnews__item--link {
  text-decoration: underline;
}

/* ---------------------------------------- */
/* R M E N U    S T Y L E                   */
/* ---------------------------------------- */
.rmenu {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: rgba(13, 32, 60, 0.9);
}
.rmenu__box {
  position: relative;
  padding-bottom: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rmenu__item {
  text-align: center;
}
.rmenu__link {
  display: inline-block;
  margin: 10% 0;
  text-align: center;
}
.rmenu__link:hover .rmenu__icon {
  background: rgba(255, 255, 255, 0.27);
}
.rmenu__icon {
  height: 60px;
  width: 60px;
  line-height: 60px;
  box-shadow: 0 0 0 1px #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.rmenu__name {
  display: block;
  font: 400 16px/20px "PT Sans", sans-serif;
  color: #fff;
}

/* ---------------------------------------- */
/* C O N T E N T    S T Y L E               */
/* ---------------------------------------- */
.content {
  margin: 0 35px;
  padding: 30px;
  background-color: #fff;
}
.content__heading {
  color: #050426;
  font: 400 30px/34px "PT Sans", sans-serif;
  margin: 0 0 25px;
}
.content__heading:after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #000;
}

.g-naming {
  font: 400 24px/26px "Myriad Pro", sans-serif;
  color: #2f2e48;
}
.g-secondary {
  font: 400 18px/20px "Myriad Pro", sans-serif;
  color: #2f2e48;
}

/* ---------------------------------------- */
/* L O G I N    S T Y L E                   */
/* ---------------------------------------- */
.login {
  float: right;
  padding-top: 15px;
}
.login__item {
  display: block;
  padding: 5px 10px;
  color: #fff;
  font: 400 16px/18px "PT Sans", sans-serif;
  border: 1px solid #fff;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.login__item:hover {
  background-color: rgba(20, 41, 67, 0.7);
  color: #fff;
}
.login__item .ic {
  margin-right: 15px;
}

/* ---------------------------------------- */
/* F O O T E R    S T Y L E                 */
/* ---------------------------------------- */
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #050426;
  padding: 30px;
}
.footer__box {
  float: right;
}
.footer__text {
  color: #fff;
  font: 400 17px/20px "PT Sans", sans-serif;
}

/* --------------------------------------------------- */
/* A B O U T    P A G E    C O N T E N T    S T Y L E  */
/* --------------------------------------------------- */
.about__title {
  font: 400 24px/28px "PT Sans", sans-serif;
  color: #423c95;
  margin-bottom: 30px;
}
.about__text {
  font: 400 18px/20px "PT Sans", sans-serif;
  color: #1a1a34;
  margin-bottom: 25px;
}
.about__img {
  margin-bottom: 25px;
}

/* ------------------------------------------------- */
/* R U L E    P A G E    C O N T E N T    S T Y L E  */
/* ------------------------------------------------- */
.rule__box {
  padding-bottom: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b9bbe2;
  margin-bottom: 40px;
}
.rule__heading {
  padding: 12px 45px;
  background-color: #b9bbe2;
  font: 400 24px/26px "PT Sans", sans-serif;
  color: #fff;
  margin-bottom: 15px;
}
.rule__person {
  color: #42414f;
  font: 400 22px/24px "PT Sans", sans-serif;
  text-align: center;
}
.rule__row {
  margin-bottom: 15px;
}
.rule__img {
  margin: 0 auto 15px;
}
.rule__icon {
  float: left;
  width: 15%;
  text-align: center;
}
.rule__icon .fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #b9bbe2;
  height: 40px;
  width: 40px;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
}
.rule__text {
  padding-left: 15px;
  float: left;
  width: 85%;
}

/* -------------------------------------------------------------- */
/* 9 9 2 +    A B O U T    P A G E    C O N T E N T    S T Y L E  */
/* -------------------------------------------------------------- */
@media only screen and (min-width: 1200px) {
  .content {
    padding: 50px 80px;
  }
}
/* ------------------------------------------- */
/* M A I N    P A G E    7 6 7 -    S T Y L E  */
/* ------------------------------------------- */
@media only screen and (max-width: 767px) {
  .lmenu {
    padding: 25px 0;
    min-height: auto;
  }

  .content {
    margin: 20px 0;
  }

  .login {
    float: none;
  }
  .login__item {
    text-align: center;
  }

  .rmenu {
    background-color: #050426;
    height: auto;
    bottom: 0;
    text-align: center;
    z-index: 100;
  }
  .rmenu__box {
    padding: 6px 0;
    top: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .rmenu__item {
    display: inline-block;
    margin: 0 10px;
  }
  .rmenu__icon {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }

  .footer {
    position: static;
    padding-bottom: 71px;
  }
}
/* ------------------------------------------------ */
/* L M E N U    7 6 8 P X - 9 9 1 P X    S T Y L E  */
/* ------------------------------------------------ */
@media screen and (min-width: 767px) and (max-width: 991px) {
  .lmenu {
    position: absolute;
    top: 0;
    left: -33.33333%;
  }
}
/* --------------------------------------------- */
/* M A I N    P A G E    1 5 4 0 +    S T Y L E  */
/* --------------------------------------------- */
@media only screen and (min-width: 1540px) {
  .lmenu__heading {
    font: 400 36px/40px "PT Sans", sans-serif;
  }
  .lmenu__item {
    font: 400 24px/28px "PT Sans", sans-serif;
    margin-bottom: 25px;
  }
}
@media screen and (min-device-width: 767px) and (max-device-height: 600px) {
  .rmenu__link {
    margin: 3% 0;
  }
  .rmenu__icon {
    height: 50px;
    width: 50px;
    line-height: 50px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
}
