+comment('general style')
+ic
@each $ic in rmenu1, rmenu2, rmenu3, rmenu4, login1, login2
  .ic-#{$ic}
    +sb(#{$ic})
+rx(767)
  @each $ic in rmenu1-xs
    .ic-rmenu1
      +sb(#{$ic})
  @each $ic in rmenu2-xs
    .ic-rmenu2
      +sb(#{$ic})
  @each $ic in rmenu3-xs
    .ic-rmenu3
      +sb(#{$ic})
  @each $ic in rmenu4-xs
    .ic-rmenu4
      +sb(#{$ic})
html
  overflow-x: hidden
  height: 100%
body
  position: relative
  left: 0
  margin: 0
  padding-right: 0 !important  
  background: #0b1c37 url(../img/wrapbg.jpg) no-repeat fixed
  color: #000
  +transition(all .3s ease-out)
  &.in
    left: 33.33333%
  +cover
iframe
  width: 100%
a,
a:hover,
a:focus
  color: inherit
  text-decoration: none
  outline: none  
+comment("home page style")
+comment("lmenu style")  
.lmenu
  padding: 25px 0 102px
  min-height: 100vh
  background-color: rgba(255,255,255,0.9)
  z-index: 10
  &__heading
    display: inline-block
    padding: 0 15px 0 30px
    font: 700 27px/31px "PT Sans", sans-serif
    color: #455e87
    &--line  
      &:after
        content: ''
        display: inline-block
        height: 1px
        width: 50%
        border-bottom: 1px solid #000
  &__sub-heading
    font-weight: 700
  &__item
    position: relative
    list-style-type: none   
    font: 400 20px/24px $pts
    color: #050426
    .fa
      float: right
  &__link
    position: relative
    display: block 
    padding: 10px 30px
    cursor: pointer
    +transition(background .3s ease-out)
    &:hover
      background-color: #c7c8d3  
    &--bold
      font-weight: 700
    .fa
      position: absolute
      right: 15px
      top: 50%
      +transform ( translateY(-50%) )
  &__dropdown
    background: rgba(5,4,38,.1)
  &__link.active
    background-color: #9c9eb9
.lcontact
  padding: 0 15px 0 30px
  &:after,
  &:before
    content: ''
    display: inline-block
    height: 1px
    width: 80%
    border-bottom: 1px solid #000
  &__list
    padding: 10px 0
  &__item
    font: 400 18px/24px $pts
    color: #050426     
    list-style-type: none     
.lnews
  padding-left: 25px
  &__item
    margin-bottom: 10px
    &--link
      text-decoration: underline
+comment("rmenu style") 
.rmenu  
  position: fixed
  right: 0
  height: 100%
  background-color: rgba(13,32,60,0.9)  
  &__box
    position: relative
    padding-bottom: 100px
    top: 50%
    +transform( translateY(-50%) )
  &__item
    text-align: center
  &__link
    display: inline-block
    margin: 10% 0
    text-align: center 
    &:hover
      .rmenu__icon
        background: rgba(255, 255, 255, .27)
  &__icon
    height: 60px
    width: 60px
    line-height: 60px
    box-shadow: 0 0 0 1px #fff
    +br(50%)
    +transition(all .3s ease-out)
  &__name
    display: block
    font: 400 16px/20px $pts
    color: #fff
+comment("content style")  
.content
  margin: 0 35px
  padding: 30px
  background-color: #fff 
  &__heading
    color: #050426  
    font: 400 30px/34px $pts
    margin: 0 0 25px
    &:after
      content: ''
      display: inline-block
      height: 1px
      width: 100%
      border-bottom: 1px solid #000 
+comment("login style")  
.login
  float: right  
  padding-top: 15px
  &__item
    display: block
    padding: 5px 10px
    color: #fff
    font: 400 16px/18px $pts
    border: 1px solid #fff
    margin-bottom: 10px
    +br(5px)
    +transition(all .3s ease-out)
    &:hover
      background-color: rgba(20, 41, 67, .7)
      color: #fff
    .ic
      margin-right: 15px
+comment("footer style")
.footer
  position: fixed
  width: 100%
  bottom: 0
  background-color: #050426
  padding: 30px
  &__box
    float: right
  &__text
    color: #fff
    font: 400 17px/20px $pts
+comment("about page content style") 
.about
  &__title
    font: 400 24px/28px $pts
    color: #423c95        
    margin-bottom: 30px
  &__text
    font: 400 18px/20px $pts
    color: #1a1a34  
    margin-bottom: 25px
  &__img
    margin-bottom: 25px 
+comment("about page content style") 
+r(768)  
  .content
    padding: 50px 80px
+comment('main page 767- style')
+rx(767)
  .lmenu
    padding: 25px 0
    min-height: auto
  .content
    margin: 20px 0
  .login
    float: none
    &__item
      text-align: center
  .rmenu
    background-color: #050426
    height: auto
    bottom: 0
    text-align: center
    z-index: 100
    &__box
      padding: 6px 0
      top: auto
      +transform( translateY(0) )
    &__item
      display: inline-block
      margin: 0 10px
    &__icon
      width: 45px
      height: 45px
      line-height: 45px 
  .footer
    position: static
    padding-bottom: 71px

+comment('lmenu 768px-991px style')
+screen(767, 991)
  .lmenu
    position: absolute
    top: 0
    left: -33.33333%
+comment('main page 1540+ style')
+r(1540)
  .lmenu
    &__heading
      font: 400 36px/40px $pts
    &__item
      font: 400 24px/28px $pts
      margin-bottom: 25px
@media screen and (min-device-width: 767px) and (max-device-height: 600px)
  .rmenu
    &__link
      margin: 3% 0
    &__icon
      height: 50px
      width: 50px
      line-height: 50px
      +bs(none)